<div id="start">
  <h2>I want to...</h2>
  <%= link_to 'Search Event', '/search', class: "button secondary cal-blue fixed-width" %>
  <br>
  <%= link_to 'Post Event', new_event_path, class: "button secondary cal-gold fixed-width" %>

</div>