.gold_text {
  color: #F6B829; 
}

.gray_text {
  color: #888888;
}

form {
  margin: 0;
}

.event_li_box {
  vertical-align: top;
}

.top-margin {
  margin-top: 7px;
}

.white {
  color: white;
}

.vertical_gold_bar {
  background-color: #F6B829;
  height: 75px;
  width: 5px;
  display: inline-block;
}

.button.secondary.cal-blue.search_button {
  margin-left: 1%;
  height: 32px;
  line-height: 0.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none; 
  box-shadow: none;
}

#search_field {
  width: 70%;
  display: inline;
}

.center {
  text-align: center;
}

.event_box {
  border: 2px solid #1C92F4;
  border-top: 5px solid #1C92F4;
  padding: 5px;
}

#welcome {
  text-align: center;
}

#new_event_form {
}

#error_messages {
  //padding-top: 80px;
}

.logo {
  height: 30px;
  width: 135px;
}

.blue_bar {
  background-color: #1C92F4;
  height: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.button.secondary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none; 
  box-shadow: none;
}

.button.secondary.cal-blue {
  background-color: #1C92F4;
  border-color: #1C92F4;
  color: white;
  font-weight: normal;
}

.pseudobutton {
  -webkit-appearance: none;
}

.button.secondary.fixed-width {
  width: 250px;
  font-size: 1.1em;
}

.button.secondary.fixed-width-medium {
  width: 150px;
}

.button.secondary.fixed-width-small {
  width: 120px;
}

.button.secondary.cal-gold {
  background-color: #F6B829;
  border-color: #F6B829;
  color: white;
  font-weight: normal;
}

header .breadcrumb {
  background-color: #1C92F4;
  ext-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; 
}

header .breadcrumb a {
  color: white;
  text-decoration: none;
  text-shadow: none;
}

#start {
  //padding-top: 40px;
  text-align: center;
}

.select_course_box {
  width: 270px;
}

#ui-datepicker-div {
  background: #bbb;
}

.bootstrap-datetimepicker-widget {
  margin-left: -200px;
}

.bootstrap-datetimepicker-widget>ul {
  padding: 0px;
}

li.collapse {
  padding: 0px;
}

#event_start_time, #event_end_time {
  display: inline;
  width: 200px;
}

.input-append span.add-on {
  font-size: 14px;
  height: 33px;
}

.select_course_box {
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"], 
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-size: 14px;
}

button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #1C92F4;
  color: white;
}
