<header class="header">
  <ul class="breadcrumb navbar-fixed-top">
    <li>
      <%= link_to root_url do %>
      <%= image_tag('calaborate_logo.png', class: 'logo') %>
      <% end %>
    </li>
    <li>
      <%= link_to settings_path do %>
        <i class="icon-cog white"></i>
      <% end %>
    </li>
  </ul>
</header>
