<header class="header">
  <ul class="breadcrumb navbar-fixed-top">
    <li>
      <%= link_to root_url do %>
      <%= image_tag('calaborate_logo.png', class: 'logo') %>
      <% end %>
    </li>
  </ul>
</header>
