<header class="header">
  <ul class="breadcrumb navbar-static-top">
      <div class="row">
  <div class="large-12 columns">
    <% if current_user %>
      <li class="pull-left">
        <%= link_to root_url do %>
          <i class="icon-home icon-2x white"></i>
        <% end %>
      </li>
      <% end %>
    <li>
      <%= link_to root_url do %>
      <%= image_tag('calaborate_logo.png', class: 'logo') %>
      <% end %>
    </li>
    <% if current_user %>
      <li class="pull-right">
        <%= link_to settings_path do %>
          <i class="icon-cog icon-2x white"></i>
        <% end %>
      </li>
    <% else %>

    <% end %>
  </div>
  </div>
  </ul>
</header>
